<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Document</title>
    <style>
      body  {
        background-color: #f1f1f1;
      }
      #con {
        margin-top: 90px;
        font-size: 20px;
      }
      #con2{
        margin-left: 350px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 1.5ch;

      }
      #label1 {
        margin-right: 100px;
      }
      #label2 {
        margin-right: 1px;
      }
      #loc {
        margin-right: 165px;
      }
      #com {
        margin-right: 35px;
      }
      #tr {
        margin-right: 130px;
      }
    </style>
</head>
<body>
<div class="container" id="con">
  <div class="col-md-5" id="con2">
    <form id="form" method="POST" action=  <%= `/conjunction/edit/${commodityTrader.id}` %> >
        <div class="form-group">
          <label for="TraderId" id="tr">Trader's Name</label>
          <select name="TraderId">
              <option value="">---SELECT---</option>
            <% for(let i = 0; i < traders.length; i++){ %>
                <option value= <%= traders[i].dataValues.id %> <%= (commodityTrader.TraderId === traders[i].dataValues.id) ? 'selected' : '' %> ><%= traders[i].dataValues.name %></option>
            <%}%>
          </select>
        </div>
        <div class="form-group">
          <label for="CommodityId" id="com">Commodity Name</label>
          <select name="CommodityId">
            <option value="">---SELECT---</option>
          <% for(let i = 0; i < commodities.length; i++){ %>
              <option value= <%= commodities[i].dataValues.id %> <%= (commodityTrader.CommodityId === commodities[i].dataValues.id) ? 'selected' : '' %> ><%= commodities[i].dataValues.name %></option>
          <%}%>
        </select>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" name="price" class="form-control" id="inputAddress" value="<%= commodityTrader.price %>" required>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" name="date" class="form-control" id="inputAddress" value="<%= commodityTrader.date %>" required>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" name="location" class="form-control" id="inputAddress"value="<%= commodityTrader.location %>"  required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button> <a href="/" type="submit" class="btn btn-danger">Cancel</a>
    </form>
  </div>
</div>
</body>
</html>