<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../public/table.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Commodity Table</title>
    <style>
        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <div class="display-flex align-center">
                    <h6 class="m-0 font-weight-bold text-dark">TABLE COMMODITIES</h6>
                  </div>
                </div>
                <h5 style="text-align: center;">Price-Time Table</h5>
                <img class="img-fluid img-thumbnail" style="margin: 0 auto" width="500" src=<%= url %>>
                <div class="card-body">
                  <div class="table-responsive">
                    <!-- <table class="table table-bordered" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Januari</th>
                          <th>Februari</th>
                          <th>Maret</th>
                          <th>April</th>
                          <th>Mei</th>
                          <th>Juni</th>
                          <th>Juli</th>
                          <th>Agustus</th>
                          <th>September</th>
                          <th>Oktober</th>
                          <th>November</th>
                          <th>Desember</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Average Price</td>
                          <% for(let i = 0; i < priceData.length; i++){%>
                            <td> <%= priceData[i] %> </td>
                          <%} %>
                        </tr>
                      </tbody>
                    </table> -->
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Trader Name</th>
                          <th>Commodity Name</th>
                          <th>Price</th>
                          <th>Date</th>
                          <th>Location</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let i = 0; i < searched.length; i++){%>
                          <tr>
                            <td> <%= i + 1 %> </td>
                            <td> <%= searched[i].dataValues.Trader.dataValues.name %> </td>
                            <td> <%= searched[i].dataValues.Commodity.dataValues.name %> </td>
                            <td> <%= searched[i].dataValues.price %> </td>
                            <td> <%= searched[i].dataValues.date %> </td>
                            <td> <%= searched[i].dataValues.location %> </td>
                            <td> <a href="/conjunction/edit/<%= searched[i].dataValues.id %>" class="btn ">Edit</a> <a href="/conjunction/delete/<%= searched[i].dataValues.id %>" class="btn ">Delete</a></td>
                          </tr>
                        <%} %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <a href="/"> Back</a>
    </div>
</body>
</html>